In [60]:
import pandas as pd 
import numpy as np
import calendar
import matplotlib.pyplot as plt
%matplotlib inline

In [61]:
df = pd.read_csv("/Users/rasmusblirupjensen/Downloads/Parking_Violations_Issued_-_Fiscal_Year_2019.csv")
codes = pd.read_excel("/Users/rasmusblirupjensen/Downloads/ParkingViolationCodes_Nov_2018.xlsx")

In [62]:
df = df.rename(columns={"Violation Code": "Code"})
df['Date']=pd.to_datetime(df["Issue Date"], format='%m/%d/%Y', errors='coerce')
df["Day Name"] = df["Date"].apply(lambda x: x.weekday_name
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Date
0,1105232165,GLS6001,NY,PAS,07/03/2018,14,SDN,HONDA,X,47130,...,0.0,2006,-,0,NaN,NaN,NaN,NaN,NaN,2018-07-03
1,1121274900,HXM7361,NY,PAS,06/28/2018,46,SDN,NISSA,X,28990,...,0.0,2017,-,0,NaN,NaN,NaN,NaN,NaN,2018-06-28
2,1130964875,GTR7949,NY,PAS,06/08/2018,24,SUBN,JEEP,X,64,...,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN,2018-06-08
3,1130964887,HH1842,NC,PAS,06/07/2018,24,P-U,FORD,X,11310,...,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN,2018-06-07
4,1131599342,HDG7076,NY,PAS,06/29/2018,17,SUBN,HYUND,X,47130,...,0.0,2007,-,0,NaN,NaN,NaN,NaN,NaN,2018-06-29

In [65]:
#Sheet with the violation descriptions
codes = codes.rename(columns={"VIOLATION CODE": "Code"})
codes

,Code,VIOLATION DESCRIPTION,Manhattan 96th St. & below\n(Fine Amount $),All Other Areas\n(Fine Amount $)
0,1,FAILURE TO DISPLAY BUS PERMIT,515,515
1,2,NO OPERATOR NAM/ADD/PH DISPLAY,515,515
2,3,UNAUTHORIZED PASSENGER PICK-UP,515,515
3,4,BUS PARKING IN LOWER MANHATTAN,115,115
4,5,BUS LANE VIOLATION,115,115
...,...,...,...,...
92,93,REMOVE/REPLACE FLAT TIRE,65,65
93,96,RAILROAD CROSSING,95,95
94,97,VACANT LOT,65,45
95,98,OBSTRUCTING DRIVEWAY,95,95
96,99,OTHER,105,105

In [66]:
#Adding the violation discription to the dataframe
result =  df.merge(codes, on='Code', how='left')
result.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Date,Day Name,VIOLATION DESCRIPTION,Manhattan 96th St. & below\n(Fine Amount $),All Other Areas\n(Fine Amount $)
0,1105232165,GLS6001,NY,PAS,07/03/2018,14,SDN,HONDA,X,47130,...,NaN,NaN,NaN,NaN,NaN,2018-07-03,Tuesday,NO STANDING-DAY/TIME LIMITS,115.0,115.0
1,1121274900,HXM7361,NY,PAS,06/28/2018,46,SDN,NISSA,X,28990,...,NaN,NaN,NaN,NaN,NaN,2018-06-28,Thursday,DOUBLE PARKING,115.0,115.0
2,1130964875,GTR7949,NY,PAS,06/08/2018,24,SUBN,JEEP,X,64,...,NaN,NaN,NaN,NaN,NaN,2018-06-08,Friday,NO PARKING-EXC. AUTH. VEHICLE,65.0,60.0
3,1130964887,HH1842,NC,PAS,06/07/2018,24,P-U,FORD,X,11310,...,NaN,NaN,NaN,NaN,NaN,2018-06-07,Thursday,NO PARKING-EXC. AUTH. VEHICLE,65.0,60.0
4,1131599342,HDG7076,NY,PAS,06/29/2018,17,SUBN,HYUND,X,47130,...,NaN,NaN,NaN,NaN,NaN,2018-06-29,Friday,NO STANDING-EXC. AUTH. VEHICLE,95.0,95.0

In [68]:
#Top 5 most violtated parkings crimes
topfines = result["VIOLATION DESCRIPTION"].value_counts()[:5]
topfines

NO PARKING-STREET CLEANING        1803467
FAIL TO DSPLY MUNI METER RECPT    1165883
PHTO SCHOOL ZN SPEED VIOLATION    1098298
NO STANDING-DAY/TIME LIMITS       1013584
NO PARKING-DAY/TIME LIMITS         795751
Name: VIOLATION DESCRIPTION, dtype: int64

In [69]:
fines = topfines.index.to_list()

In [70]:
result_new = result.loc[result['VIOLATION DESCRIPTION'].isin(fines)]

In [71]:
#Top 5 crimes % size of total set 
print(len(result_new)/len(df)*100 ,"%")

51.249007412771356 %

In [72]:
#Length and number of variables in the dataset 
print("Number of rows: {}  \nNumber of Variables: {}" .format(result.shape[0], str(result.shape[1])))

Number of rows: 11467506
Number of Variables: 48

#Data Properties 
In the dataset, there is geolocation attributes, such as strees names, house numbers, states codes etc. Next there is description of the different vehicles. There is an issue date which tells us when the violation has happened, and a timestamp for the violation.

In [73]:
#result.shape
#result["Adress"] = result["Street Name"] + " " + str(result["House Number"])

In [ ]:
result.to_csv("PARKING2019.csv")

In [75]:
#result.columns